{% extends 'base.html' %}
{% block body %}
<div class="row">
<div class="col md-4 ">
    <ul class="list-group">
        <li class="list-group-item bg-primary"><a href="{{url_for('create_post')}}">Create A Post</a></li>
        <li class="list-group-item bg-primary"><a href="">View Your Posts</a></li>
        <li class="list-group-item bg-primary"><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</div>
<div class="col col-md-10">
  <table class="table table-striped">
     <thead class="bg-primary">
        <tr>
            <th>Title</th>
            <th>Date Posted</th>
            <th>Actions</th>
        </tr>
     </thead>
     <tbody>
         <tr>
            {% for post in posts %}
            <td>{{post.title}}</td>
            <td>{{ post.date_created.strftime("%D %M %Y")}}</td>
            <td class=""><a href="/update/{{post.id}}" class=""><i class="fa fa-edit fa-2x success"></i></a></td>
            <td class=""><a href=""><i class="fa fa-trash fa-2x danger" ></i></a></td>
        {% endfor %}
         </tr>
     </tbody>
          
  </table>
</form>
</div>
</div>
{% endblock body %}
    