{% extends 'base.html' %}
{% block body %}
   <div class="panel-default">
       <h3>What's Up?</h3>
       
       <div class="form-group">
           <label for="post_title">Title</label>
           <input type="text" name="post_title" id="" class="form-control">
           <label for="post_content">Content</label>
           <textarea name="post_content" id="" cols="30" rows="5" class="form-control"></textarea>
           <input type="submit" value="Post" class="btn btn-primary">
       </div>
   </div>
{% endblock body %}
    