{% extends 'base.html' %}
{% block body %}
<div class="row">
  <div class="col-md-8">
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_created }}</small>
          </div>
          <p class="article-content">{{ post.content_paragraph1 }} ....</p>
          <a href="/{{post.title}}">Read More</a>
        </div>
      </article> 
      <br>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      
      {% for post in posts %}
      <li class="list-group-item"><a href="">{{post.title}}</a></li>
      {% endfor %}
        
    </ul>
  </div>
</div>     
{% endblock body %}
    