{% extends "base.html" %}
{% block body %}
	<div class="jumbotron ">
		<h2><a class="article-title" href="#">{{ indi_post.title }}</a></h2>
		<div class="article-metadata">
            <a class="mr-2" href="#">{{ indi_post.author }}</a>
            <small class="text-muted">{{ indi_post.date_created }}</small>
          </div>
		<br>
		<p>{{indi_post.content_paragraph1}}</p>
			<br>
		<p>{{indi_post.content_paragraph2}}</p>
			<br>
		<p>{{indi_post.content_paragraph3}}</p>

		{% if current_user.is_authenticated %}
	           {% if indi_post.author == current_user %}
	           	   <a href="/update/{{indi_post.id}}">Update Post</a>
	           {% endif %}
           <br>
		   <form action="" method="post">
		   	  <textarea name="comment" class="form-control"></textarea>
		      <button type="submit" class="btn btn-primary">Comment</button>
		   </form>			
		{% else %}
		    <a href="">Comment</a>
			<a href="{{url_for('index')}}">Back</a>
		{% endif %}
		
	</div>
{% endblock body %}