{% extends 'base.html' %}
{% block body %}

{% with messages = get_flashed_messages() %}    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    
    <div class="loginform">
        <div class="head bg-primary">
            <h3>Sign In</h3>
        </div>
        <div class="form-group">
            {{ form.prompt.label }}
            {{ form.prompt(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </div>
{% endblock body %}
    